.btnSubmitForm {
  color: white;
  background-color: #ff1717;
  margin: 0.5rem 0 0 0;
  transition: 0.3s;
  padding: 0 15px 0 15px;
  border-radius: 15px;

  &:hover {
    color: $blue;
    background-color: #FFFFFF;
    transform: scale(1.1);
  }
}

.btn-contact
{
  display:block;
  background-color: $blue;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  outline-offset: 2px;
  align-items: center;
  border-radius: 22px;
  padding: 10px 10px;
  transition: background-color 150ms ease;

  &:hover {
    color: #FFFFFF;
    background-color: $blue;
    transform: scale(1.1);
  }
}

.btn-card
{
  display: block;
  background-color: $blue;
  color: #FFFFFF;
  text-decoration: none;
  outline-offset: 2px;
  border-radius: 22px;
  padding: 5px 15px;
  transition: 300ms;

  &:hover {
    background-color: $dark-blue;
    color: #FFFFFF;
  }
}