.btnSubmitForm {
  color: white;
  background-color: #ff1717;
  margin: 1.5rem 0 1.5rem 0;
  transition: 0.3s;
  padding: 0 15px 0 15px;
  border-radius: 15px;

  &:hover {
    color: $blue;
    background-color: #FFFFFF;
    transform: scale(1.1);
  }
}