.card {
  justify-content: center;
  align-items: center;
  height: 100%;
  //379px = barre de scroll & >380px = no barre de scroll
  max-height: 380px;
  //overflow-y défini ce qui s'affiche lorsque le contenu dépasse les bords supérieur et inférieur d'un bloc.
  //Cela peut être rien, une barre de défilement ou le contenu de débordement.
  overflow-y: auto;
  min-height: 300px;
  border-radius: 10px;
  background-size: cover;
}

.cardHome{
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 7px 7px;

    & a:hover{
      color: #FFFFFF;
    }
  }

.cardFooter
{
  min-height: 185px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 15px;

  & p {
    width: 100%
  }
}

.roundIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60px;
  height: 60px;
  background-color: $red;
  border-radius: 50px;
}

.card-title
{
  color: $red;
  font-family: var(--ff-bold);
  font-size: 1.2rem;

}