{% extends 'base.html.twig' %}

{% block title %}Accueil | Longo Formation{% endblock %}
{% block myContent %}
    <div class="my-3">
        <h1>Formation secourisme et prevention</h1>
    </div>
{% endblock %}