<footer>
    <div class="container">
        <div class="row py-3">
            <div class="col-4">
                <div class="cardFooter m-auto">
                    <div class="card-body ">
                        <img src="{{ asset("build/images/icon_tel.png") }}" alt="Avatar" width="50" height="50">
                        <h3>Téléphone</h3>
                        <p>Une question? Un renseignement?</p>
                        <p>06 13 59 59 39</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cardFooter m-auto">
                    <div class="card-body">
                        <img class="iconFooter" src="{{ asset("build/images/icon_mail.png") }}" alt="Avatar" width="50" height="50">
                        <h3>Adresse Mail</h3>
                        <p>Nous écrire à :</p>
                        <p>longo-formation@hotmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cardFooter m-auto">
                    <div class="card-body">
                        <img src="{{ asset("build/images/icon_gps.png") }}" alt="Avatar" width="50" height="50">
                        <h3>Adresse</h3>
                        <p>58 Impasse de la croix</p>
                        <p>01640 Saint-Jean-Le-Vieux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
