<footer>
    <div class="container">
        <div class="row m-0 pt-3 justify-content-md-between">
            <div class="col-md-3 col-lg-3 cardFooter">
                <div class="d-flex justify-content-center">
                    <div class="roundIcon my-2">
                        <i class="fa-solid fa-phone-volume" style="color: #ffffff; font-size: 1.4rem;"></i>
                    </div>
                </div>
                <h4 class="card-title">Téléphone</h4>
                <p class="card-text my-2">
                    Une question? Un renseignement? <br>
                    06 13 59 59 39
                </p>
            </div>
            <div class="col-md-3 col-lg-3 cardFooter h-100">
                <div class="d-flex justify-content-center">
                    <div class="roundIcon my-2">
                        <i class="fa-regular fa-envelope" style="color: #ffffff; font-size: 1.5rem;"></i>
                    </div>
                </div>
                <h4 class="card-title">Adresse Mail</h4>
                <p class="card-text my-2">Nous écrire à :<br>
                    longo-formation@hotmail.com
                </p>
            </div>
            <div class="col-md-3 col-lg-3 cardFooter h-100">
                <div class="d-flex justify-content-center">
                    <div class="roundIcon my-2">
                        <i class="fa-solid fa-location-dot" style="color: #ffffff; font-size: 1.5rem;"></i>
                    </div>
                </div>
                <h4 class="card-title">Adresse</h4>
                <p class="card-text my-2 pt-md-2">58 Impasse de la croix <br>
                    01640 Saint-Jean-Le-Vieux
                </p>
            </div>
        </div>
    </div>
</footer>
