{% extends 'base.html.twig' %}

{% block title %}Formations | Longo Formation{% endblock %}

{% block myContent %}
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div>
            <img class="imgMannequin" src="{{ asset('build/images/mannequin.png') }}"
                 alt="Mannequin de formation au massage cardiaque"/>
        </div>
        <div>
            <h1 class="text-center">
                Nos Formations
            </h1>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <div class="card card-1">
                    <button class="btnLinkForm" type="button" href="*">Formation initial Sauveteur Secouriste de Travail (SST)</button>
                    <button class="btnLinkForm" type="button" href="*">Maintien/Actualisation des Compétences SST (MAC SST)</button>
            </div>

            <div class="blockImgFormation imgFormation1">
            </div>
            <div class="card card-2">
                <button class="btnLinkForm" type="button" href="*">Equipier de première Intervention (EPI)</button>
                <button class="btnLinkForm" type="button" href="*">Premier temoin incendie</button>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <div class="card card-3">
                <button class="btnLinkForm" type="button" href="*">Equipier d’évacuation (Guides files - Serres files)</button>
                <button class="btnLinkForm" type="button" href="*">Exercice d’évacuation</button>
            </div>
            <div class="blockImgFormation imgFormation2">
            </div>
            <div class="card card-4">
                <button class="btnLinkForm" type="button" href="*">Troubles Musculo Squelettique (TMS)</button>
                <button class="btnLinkForm" type="button" href="*">Chariots sans CACES (Gerbeur manuel - Transpalette)</button>
            </div>
        </div>
    </div>
{% endblock %}
