{% extends 'base.html.twig' %}

{% block title %}Formations | Longo Formation{% endblock %}

{% block myContent %}
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div>
            <img class="imgMannequin" src="{{ asset('build/images/mannequin.png') }}"
                 alt="Mannequin de formation au massage cardiaque"/>
        </div>
        <div>
            <h1 class="text-center">
                Nos Formations
            </h1>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <div class="card">
                <div class="card-1">
                </div>
            </div>
            <div class="blockImgFormation">
                <div class="imgFormation1">
                </div>
            </div>
            <div class="card">
                <div class="card-2">
                </div>
            </div>
        </div>
        <div class="d-flex w-100 justify-content-between">
            <div class="card">
                <div class="card-3">
                </div>
            </div>
            <div class="blockImgFormation">
                <div class="imgFormation2">
                </div>
            </div>
            <div class="card" >
                <div class="card-4">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
