{% extends 'base.html.twig' %}

{% block title %} {{ formation.title}} | Longo Formation{% endblock %}

{% block myContent %}

<h1>{{ formation.title }}</h1>
<p>{{ formation.description }}</p>

{% endblock %}

