* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-regular);
}

.text-blue{
  color: $red;
}


.border-blue {
  border: 2px solid $blue;
}

.border-red {
  border: 2px solid $red;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: $blue;
  font-family: var(--ff-bold);
}