

.card a:hover {
  color: #0d6efd;
  transition: 0.3s;
}

.title-container {
  display: grid;
  place-content: center;
}


.imgBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)),
  url("../../public/build/images/feuLance.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.imgMannequin {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.card {
  justify-content: center;
  align-items: center;
  height: 100%;
  //374px = barre de scroll & >374px = no barre de scroll
  max-height: 375px;
  //overflow-y défini ce qui s'affiche lorsque le contenu dépasse les bords supérieur et inférieur d'un bloc.
  //Cela peut être rien, une barre de défilement ou le contenu de débordement.
  overflow-y: auto;
  min-height: 300px;
  border-radius: 10px;
  background-size: cover;
}

.blockImgFormation {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
}