$blue: #70afee;
$red: #ff1717;

$box-shadow-lg: 0 1rem 3rem $black;



.nav-link
{
  color: white;
}

.nav-link:hover{
  color: #000000;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $red;
}

.colorBgNav
{
  background-color:$blue;
}

.imgBg
{
  height: 100vh;
  background-image: url("../../public/images/feuLance.png");
  background-size: cover ;
  background-repeat: no-repeat;
}

.btnSubmitForm{
  color: white;
  background-color: $blue;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.btnSubmitForm:hover
{
  color:white;
  background-color: $red;
  transform: scale(1.1);
}

.form-label {
  color: white;
}

.squareForm
{
  background-color: black;
  opacity: 0.80;
  padding:7px;
  border-radius: 10px;
}
