a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $red;
  }
}

.bg-red {
  background-color: $red;
}

h1 {
  height: auto;
  color: white;
  background-color: $blue;
  padding: 0.5rem;
  border-radius: 10px;
}
